@{
    ViewBag.Title = "Home Page";
}
<section id="header" class="white">
    <div class="container">
        <div class="col-md-12">
            <div class="page-header text-center">
                <h1>Huje muje dzikie węże</h1>
            </div>
            <p>
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            </p>
        </div>

    </div>
</section>

<section class="purple">
    <div class="container">
        <div class="col-md-4">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </div>

        <div class="col-md-4">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </div>

        <div class="col-md-4">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </div>
    </div>
</section>


<section class="white">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h2>Zaloguj</h2>
                <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
                <p>
                    <a class="btn btn-info" href="#/login" role="button">Login &raquo;</a>
                </p>
            </div>
            <div class="col-md-4 col">
                <h2>Zarejestruj</h2>
                <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
                <p>
                    <a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="purple">
    <div class="container">
        <div class="col-md-4">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </div>

        <div class="col-md-4">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </div>

        <div class="col-md-4">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </div>
    </div>
</section>

<section class="white">
    <div class="container">
        <div class="col-md-4 lead">
            <h2 class="clickableHeader">@Html.ActionLink("BASIC", "Basic", "Order")</h2>
            <p class="text-primary">słaba opcja w huj </p>
        </div>

        <div class="col-md-4 lead">
            <h2 class="clickableHeader">@Html.ActionLink("PREMIUM", "Premium", "Order")</h2>
            <p class="text-primary">bierz moj hajs chce to </p>
        </div>

        <div class="col-md-4 lead">
            <h2 class="clickableHeader">@Html.ActionLink("PARTY", "Party", "Order")</h2>
            <p class="text-primary">yoyoyoyo </p>
        </div>
    </div>
</section>