@model LoveMeBetter.Models.Order.Order

@{
    ViewBag.Title = "title";
}


<section id="header" class="white">

    <div class="container">

        <h2>title</h2>
    </div>
</section>

<section class="purple"></section>
